.pageContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  background-color: lightgray;
  /* gap: 10px; */
}

.viewContainer {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* .toggleGroup{
  display: flex;
  align-items: center;
  gap: 20px;
} */

.viewToggleBox {
  /* border: 1px black solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  /* justify-content: space-between; */
  min-height: 50px;
  width: 25%;
  gap: 10px;
}

.viewToggle {
  height: 25px;
  width: 50px;
  border: 1px solid black;
  border-radius: 15px;
  display:flex;
  padding: 3px;
  align-items: center;
  cursor:pointer;
}



.viewToggleThumb {
  height: 15px;
  width: 15px;
  /* border: 1px solid black; */
  background-color: black;
  border-radius: 25px;
  transition: transform 0.2s ease;
  left: 0;
}

.viewToggleThumb.toggled {
  transform: translateX(26px);
}

.viewToggleLabel {
  flex: 1;
  text-align: right;
}

.viewToggleLabel:last-child {
  text-align: left;
}

.timerBox {
  width: 35vw;
  min-height: 500px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px black solid;
}

.toggleBlock {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 80%;
  margin-top: 15px;
}

.toggleBlock button {
  background-color: white;
  color: black;
  border: 1px black solid;
  border-radius: 10px;
  height: 100%;
  padding: 10px 15px;
  margin-top: 10px;
  width:100%
}

.toggleBlock button:hover {
  background-color: black;
  color: white;
}

.toggleBlock button:active {
  background-color: black;
  color: white;
}

.toggleBlock button.toggled {
  background-color: black !important;
  color: white;
}

.clock {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 3em;
  /* border: 1px solid black; */
  width: 100%;
  padding: 25px 0px;
}