.calendarBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 80%;
  height: 80%;
  overflow-y: auto;
  background-color: white;
  border: 1px solid black;
}

.titleContainer {
  display: flex;
  position: sticky;
  top: 0;
}

.titleSpacer {
  display: flex;
  flex: 1;
  background-color: white;
  border-bottom: 1px solid black;
  /* box-shadow: inset -1px 0 0 black; */
}

.dayTitleContainer {
  display: flex;
  flex: 14;
}

.dayTitle {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 35px;
  background-color: white;
  z-index: 1;
  flex: 1;
}

.dayTitle:first-child {
  border-left: 1px solid black;
}

.scheduleContainer {
  display: flex;
}

.labelContainer {
  display: flex;
  flex: 1;
}

.timeLabelContainer {
  display: flex;
  flex-direction: column;
  flex: 10;
  background-color: white;
  border-right: none;
  border-top: none;
}

.labelConnectorColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
}

.labelConnector {
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid lightgray;
  height: 60px;
}

.labelConnector:last-child {
  border-bottom: none;
}

.dayContainer {
  display: flex;
  flex: 14;
}

.dayColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  background-color: white;
  border-left: 1px solid black;
}

/* .dayColumn:first-child {
  border-left: 1px solid lightgray;
} */

.dayColumn:last-child {
  border-right: 1px solid black;
}

.hourLabel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
}

.hourLabel p {
  padding-right: 5px;
  display: flex;
  align-items: center;
  font-size: x-small;
  margin: 0;
  text-align: center;
  height: 100%;
}

.labelSpacer {
  height: 30px;
}

.hour {
  border-bottom: 1px solid lightgray;
  cursor: crosshair;
  height: 60px;
}

.hour:hover {
  background-color: rgb(209, 209, 209);
}

.hour:last-child {
  border-bottom: none;
}
