.calendarBox {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  background-color: white;
  border: 1px solid black;
}

.titleContainer {
  width: 100%;
  display: flex;
  z-index: 2;
  height: 35px;
  padding-right: 8px;
  border-bottom: 1px solid black;
}

.titleSpacer {
  display: flex;
  flex: 1;
  /* box-shadow: inset -1px 0 0 black; */
}

.dayTitleContainer {
  display: flex;
  flex: 14;
}

.dayTitle {
  display: flex;
  justify-content: center;
  border-left: 1px solid black;
  flex: 1;
}

.scheduleContainer {
  display: flex;
  overflow-y: scroll;
  /* height: 100%; */
}

.scheduleContainer::-webkit-scrollbar {
  border-left: 1px solid black;
  width: 8px;
}

.scheduleContainer::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}

.scheduleContainer::-webkit-scrollbar-track {
  background: transparent;
}

.labelContainer {
  display: flex;
  align-items: flex-start;
  flex: 1;
}

.timeLabelColumn {
  display: flex;
  flex-direction: column;
  flex: 10;
}

.labelConnectorColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.labelConnector {
  display: flex;
  border-bottom: 1px solid lightgray;
  height: 60px;
}

.labelConnector:last-child {
  border-bottom: none;
}

.dayContainer {
  display: flex;
  align-items: flex-start;
  flex: 14;
}

.dayColumn {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-left: 1px solid black;
}

.dayColumn:first-child {
  border-left: 1px solid lightgray;
}

.hourLabel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
}

.hourLabel p {
  padding-right: 5px;
  display: flex;
  font-size: x-small;
}

.labelSpacer {
  height: 30px;
}

.hour {
  border-bottom: 1px solid lightgray;
  cursor: crosshair;
  height: 60px;
}

.hour:last-child {
  border-bottom: none;
}

.hour:hover {
  background-color: rgb(209, 209, 209);
}
